@model FileManager_MP.Models.Account

@{
    ViewBag.Title = "Change Role";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div id="chRoleHeader"></div>
<form method="post">
    <div id="chRoleForm"></div>
    @if (Model != null)
    {
        <div class="container">
            <h2 class="txt-center-error">@Model.Message</h2>
        </div>
    }
    <div class="container" @*style="background-color:#f1f1f1"*@>
        <button type="button" class="cancelbtn" act onclick="location.href = '@Url.Action("AdminActions", "Account")'">Cancel</button>
    </div>
</form>

<script src='@Url.Content("~/Scripts/ChangeRole.jsx")'></script>