@model FileManager_MP.Models.Account
@*Html.React("LoginForm", Model);*@
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<div id="header" ></div>
<form method="post">
    <div id="loginForm"></div>
    @if (Model != null)
    {
        <div class="container">
            <h2 class="txt-center-error">@Model.Message</h2>
        </div>
    }
    <div id="loginFooter"></div>
</form>



<script src='@Url.Content("~/Scripts/Login.jsx")'></script>
